@import url("https://fonts.googleapis.com/css?family=Paytone+One:wght@500&display=swap");
body {
  margin: 0;
  font-family: "Paytone One", sans-serif !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-image: linear-gradient(to left, rgb(0, 15, 29), rgb(0, 44, 73));
}
